.card-header-template {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #37373b;
    padding: 5px 15px;
    margin-bottom: 0;
    background-color: #9fc1cc;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 18px;
}

.card-header-template > div i{
    font-size: 22px;
}

.card-header-template > div > a > i{
    font-size: 18px;
}

.card-body-template {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-template {
    width: 100%;
    margin-bottom: .2rem;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #939397;
}
.table-template td, .table-template th{
    padding: .2rem;
    border: 1px solid #bfbfc2;
}

table td{
    font-size: small;
    font-weight: 400;
}

.th-title{
    background-color:#c9d0da;
    font-weight: 400;
}
.th-title-main{
    background-color: #96acc2;
    font-weight: 400;
}

.form-control-template {
    display: block;
    width: 100%;
    height: calc(2.25rem + 1px);
    padding: .1rem .75rem;
    font-size: 0.9rem;
    line-height: 0.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius:.1rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control-disabled {
    display: block;
    width: 100%;
    height: calc(2.25rem + 1px);
    padding: .1rem .75rem;
    font-size: 0.9rem;
    line-height: 0.8;
    color: #495057;
    background-color: rgb(209, 209, 209);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius:.1rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-sm-template {
    padding: .1rem .5rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .2rem
}
.card-group {
    display: block;
}
.div-op{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 80px;
}

.btn-filter {
    color: #fff;
    background-color: #c77e1f;
    border-color: #c77e1f;
}

.btn-filter:hover {
    color: #fff;
    background-color: #f59210;
    border-color: #f59210;
}
.card-header-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #37373b;
    padding: 5px 15px;
    margin-bottom: 0;
    background-color: #ffff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 18px;
}

.painel-estoque-dashboard{
    display: flex;
    flex-direction: row;
    border: solid 1px #cfd4d6;
    border-radius: 3px;
    background: #0928961a;
    padding: 10px;
    margin: 10px auto;
}

.field-dash{
    background:#1a308b1a;
    width: 30%;
    margin: auto 5px;
    padding:10px;
    color: #1879e0;
}
